model_config_list:{
        config:{
            name: "vgg16",
            base_path: "/media/derrick/5EAD61BA2C09C31B/Notebooks/Python/serving/vgg16",
            model_platform:"tensorflow",
            model_version_policy{
            specific{
            versions : 1
            }
            }
        }
        
}
